/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333333;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

header {
    background-color: #707070;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px #333333; 
}

header h1 {
    margin: 0;
    font-size: 48px;
}

nav {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

nav button {
    margin: 0;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px #333333;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #FFDBDA;
}

/* sección principal */

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 16px;
    padding: 16px;
}

/* sección de preview del meme */

#meme-preview {
    flex: 2; /* separo los espacios en la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #444; /* Fondo para diferenciar visualmente */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#meme-container {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    background-color: #000; /* Fondo negro por defecto */
    border-radius: 8px;
}

#meme-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.meme-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Impact, Arial, sans-serif;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

#top-text {
    top: 16px; 
}

#bottom-text {
    bottom: 16px; 
}

/* Panel lateral (aside) */
aside {
    flex: 1;
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-radius: 16px;
    box-shadow: 0 2px 5px #333333;
    padding: 16px;
}

aside fieldset {
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
}

aside fieldset legend {
    font-weight: bold;
    color: #333333;
    padding: 0 8px;
}

aside div {
    margin-bottom: 16px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
}

input[type="text"],
input[type="color"],
select,
input[type="range"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Botón de descargar */

#meme-preview #download-meme {
    margin-top: 16px;
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #6823FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

#meme-preview #download-meme:hover {
    background-color: #5C0F8B;
}

/* Estilos para el modo oscuro */

body.dark-mode {
    background-color: #333333;
    color: #f0f0f0;
}

body.dark-mode header {
    background-color: #222;
}

body.dark-mode nav button {
    background-color: #ADADAD;
    color: white;
}

body.dark-mode #download-meme {
    background-color: #ADADAD;
    color: white;
}

body.dark-mode #download-meme:hover {
    background-color: #707070;
}

body.dark-mode aside {
    background-color: #707070;
    border-color: #555;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="color"],
body.dark-mode select,
body.dark-mode input[type="range"] {
    background-color: #ADADAD;
    color: white;
    border-color: #666;
}

body.dark-mode aside fieldset {
    background-color: #555555;
    border-color: #666666;
}

/* ajustes para js de imagen ? */

.filtros {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.filtros label {
    font-size: 14px;
    margin-bottom: 5px;
}

.filtros input[type="range"] {
    width: 100%;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
