/* Estilos generales del tp */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333333;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

header { /* texto superior */
    background-color: #707070;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px #333333; 
}

header h1{
    margin: 0;
    font-size: 48px;
}

nav {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

nav button {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px #333333;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #FFDBDA;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
}

/* sección del preview del meme */

#meme-preview {
    flex: 2;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px #333333;
    padding: 16px;
    text-align: center;
}

#meme-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

#meme-imagen {
    width: 100%;
    border-radius: 5px;
}

.meme-text {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px #333333;
}

#texto-superior {
    top: 0;
}

#texto-inferior {
    bottom: 0;
}


/* aside (panel lateral) */

aside {
    flex: 1;
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-radius: 16px;
    box-shadow: 0 2px 5px #333333;
    padding: 16px;
}

aside div {
    margin-bottom: 16px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box
}

#download-meme {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #6823FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

#download-meme:hover {
    background-color: #5C0F8B;
}

/* estilos modo oscuro */

body.dark-mode {
    background-color: #333333;
    color: #f0f0f0;
}

body.dark-mode header {
    background-color: #222;
}

body.dark-mode nav button {
    background-color: #ADADAD;
    color: white;
}

body.dark-mode #download-meme {
    background-color: #ADADAD;
    color: white;
}

body.dark-mode #download-meme:hover {
    background-color: #707070;
}

body.dark-mode aside {
    background-color: #707070;
    border-color: #555;
}

body.dark-mode input[type="text"] {
    background-color: #ADADAD;
    color: white;
    border-color: #666;
}