/* Estilos generales del tp */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333333;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

/* sección del preview del meme */

/* aside (panel lateral) */

/* estilos modo oscuro */